@{
    ViewBag.Title = "DefaultProcessInternetPage";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int number = 1;
}
@using TLZ.OldSite.WebSite.Admin.Models;
@using TLZ.OldSite.DB.MongoDB.Model;

@model List<ProcessInternet>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">进程网络记录列表</div>
    @*<div class="panel-body">
            <h3></h3>
        </div>*@
    <!-- Table -->
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-striped table-hover" contenteditable="true">
            <thead>
                <tr>
                    <th width="5%">编号</th>
                    <th width="10%">进程Pid</th>
                    <th width="15%">进程名称</th>
                    <th width="10%">网络发送数据字节数</th>
                    <th width="10%">网络接收数据字节数</th>
                    <th width="20%">网络数据总字节数</th>
                    <th width="15%">时间</th>
                    <th width="15%">操作</th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Raw(number++)</td>
                        <td>@item.ProcessID</td>
                        <td>@item.ProcessName</td>
                        <td>@item.NetSendBytes</td>
                        <td>@item.NetRecvBytes</td>
                        <td>@item.NetTotalBytes</td>
                        <td>@item.DateTimeNow.ToString("yyyy年MM月dd日")</td>
                        <td>
                            <button class="btn btn-link btn-large" type="button" contenteditable="true" role="button">按钮1</button>
                            <button class="btn btn-link btn-large" type="button" contenteditable="true" role="button">按钮2</button>
                            <button class="btn btn-link btn-large" type="button" contenteditable="true" role="button">按钮3</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="panel-footer">
        <div id="page_basepagemodel">
            @Html.Partial("BasePageModel", ViewData["pagemodel"])
        </div>
    </div>
</div>